<div class="p-4">
  <!-- Título centrado -->
  <h1 class="text-center">Lista de Productos</h1>

  <!-- Botón "Agregar Producto" -->
  <div class="button-container">
    <button
      pButton
      type="button"
      label="Agregar Producto"
      (click)="addProduct()"
    ></button>
  </div>

  <!-- Tabla de productos con filtros -->
  <p-table [value]="filteredProducts" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>
          Nombre
          <input
            pInputText
            type="text"
            (input)="applyFilter($event, 'name')"
            placeholder="Buscar por nombre"
          />
        </th>
        <th>
          Descripción
          <input
            pInputText
            type="text"
            (input)="applyFilter($event, 'description')"
            placeholder="Buscar por descripción"
          />
        </th>
        <th>
          Precio
          <input
            pInputText
            type="text"
            (input)="applyFilter($event, 'price')"
            placeholder="Buscar por precio"
          />
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <div class="actions">
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              (click)="editProduct(product.id)"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              (click)="deleteProduct(product.id)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>